@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #e0e0e0;
    margin-left: 200px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    color: #e0e0e0; 
}

a {
  color: #7799CC !important;
}

a:visited {
  color: #7777AA !important;
}

.card {
    border-radius: 0.8rem!important;
}

.card-img-overlay {
    border-radius: 0.8rem!important;
}

.rounded-xl {
    border-radius: 0.8rem!important;
}

.rounded-xl-bottom {
    border-bottom-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
}

.rounded-xl-top {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
}


.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}


.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

.sidenav {
    width: 210px;
    background-color: #1c1e22;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.sidenav-header {
    padding: 15px;
    padding-top: 25px;
    background-color: #1c1e22;
    text-align: center;
}

.sidenav-header img {
    width: 70%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.sidenav-menu {
    padding: 20px 0;
    margin-bottom: 100px;
    flex: 1;
}

.sidenav-menu a {
    display: block;
    padding: 15px 35px;
    color: #e0e0e0;
    text-decoration: none;
    transition: background-color 0.3s;
}

/*.sidenav-menu a:hover {
    background-color: #7799CC;
}*/

.sidenav-menu a.active {
    background-color: #7799CC;
    /*color: #7777AA;*/
}

.sidenav-extras {
    padding-bottom: 0;
    padding-top: 0;
    overflow-y: auto;
    font-size: 9pt; 
}


.year-nav {
    position: sticky;
    top: 0;
    background-color: #1c1e22;
    padding: 18px 30px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.year-nav a {
    padding: 5px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.year-nav a.active {
    background-color: #7799CC;
}


.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    border-right: 2px solid rgba(102, 126, 234, 0.2);
}

.toggle-label {
    font-size: 0.9em;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 26px;
    background: #7799CC;
    border-radius: 13px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.toggle-switch.selected {
    background: #7777AA
}

.toggle-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-switch.selected .toggle-slider {
    transform: translateX(24px);
}


.publication.hidden {
    display: none;
}


.iframe-container {
    max-width: 90%;
    display: flex; 
    justify-content: center;
}

iframe {
    max-width: 40%;
    border: none;
    width: 300px;
    height: 200px;
    max-height: 20%;
}

.toggle-link {
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .sidenav {
        width: 110px;
    }

    .sidenav-header {
        padding: 8px;
    }

    .sidenav-header img {
        max-width: 100px;
    }

    .sidenav-menu a {
        padding: 15px 15px;
        font-size: 14px;
    }

    .sidenav-extras {
        margin-left: 0!important;
        padding-left: 8pt;
        padding-right: 8pt;
        max-width: 100%;
        font-size: 8pt;
    }

    .container-fluid.no-padding-for-small {
        padding-left: 5px;
        padding-right: 3px;
    }

    body {
        margin-left: 110px;
    }

    ul {
        padding-left: 18px;
    }

    .iframe-container {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .iframe-container img {
        max-width: 100%;
        height: auto!important;
    }

    iframe {
        margin: 0;
        max-width: 90%;
        height: auto!important;
    }

    figure img {
        max-width: 250px;
    }

}